<div class="comments">
    {{#each this}}
    <section class="comment-info">
        <div class="comment-data">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="comment-text">"{{commentText}}"</div>
    </section>
    {{/each}}
</div>