{{#if posts.length}}
<section>
    <h2 class="dashboardTitle">Your Blog Posts</h2>
    <ol class="dashboard-posts">
        {{#each posts as |post|}}
        <li class="dash-li">
            {{> dashboardInfo post}}
        </li>
        {{/each}}
    </ol>
</section>
{{else}}
<section>
    <h3>You dont have any posts yet</h3>
</section>
{{/if}}

<button id="add-post-btn" type="submit"><a id="addHref" href="/dashboard/new">Add a new post</a></button>