<div class="forms">
<form class="login-form">
    <h2 class="loginTitle">Login</h2>
    <div> 
        <label class="label" for="login-username"> Username: </label>
        <input type="text" id="login-username">
    </div>
    <div>
        <label class="label" for="login-pw"> Password: </label>
        <input type="password" id="login-pw">
    </div>
    <div>
        <button id="loginBtn" class="loginBtn" type="submit">Login!</button>
    </div>
</form>

<form class="new-acc-form">
    <h2 class="loginTitle">Create Account</h2>
    <div>
        <label class="label" for="create-username"> New Username: </label>
        <input type="text" id="create-username">
    </div>
    <div>
        <label class="label" for="create-pw"> New Password: </label>
        <input type="password" id="create-pw">
    </div>
    <div>
        <button class="loginBtn" type="submit">Create Account!</button>
    </div>
</form>
</div>

<script src="/js/login.js"></script>