<section>
    <h2 class="createTitle">Create A New Post!</h2>
        <form class="create-post-form">
            <div>
                <input class="cpTitle" type="text" id="post-title" placeholder="Post Title">
            </div>
            <div>
                <textarea class="cpText" id="post-text" placeholder="Type your post here!"></textarea>
            </div>
            <button type="submit" class="post-btn">Create Post!</button>
        </form>
</section>

<script src="/js/create-post.js"></script>